// src/styles/main.scss

@use 'sass:color';
@import 'fonts';
@import 'variables';

body {
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  line-height: 1.6;
  color: $color-text;
  background-color: $color-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h1 {
  font-weight: $font-weight-bold;
  font-size: 2.5rem;
}

h2 {
  font-weight: $font-weight-semi-bold;
  font-size: 2rem;
}

h3 {
  font-weight: $font-weight-medium;
  font-size: 1.75rem;
}

p {
  margin-bottom: 1rem;
}

.light-text {
  font-weight: $font-weight-light;
}

a {
  color: $accent-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: color.scale($accent-color, $lightness: -27%);
  }
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: $font-weight-medium;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;

  &-primary {
    background-color: $primary-color;
    color: $vt-c-white;

    &:hover {
      background-color: color.scale($primary-color, $lightness: -18.8%);
    }
  }

  &-secondary {
    background-color: $secondary-color;
    color: $vt-c-white;

    &:hover {
      background-color: color.scale($secondary-color, $lightness: -20.4%);
    }
  }
}
